* {
    box-sizing: border-box;

}
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6em;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: url(/img/bg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


h1 {
    font-size: 50px;
    margin-bottom: 10px; 
    
}



a:hover {
    text-decoration: underline;
    color: #bb0000;

}

/*navbar*/
nav {
    background: #333;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #bb0000 3px solid;
    font-weight: bold;


}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    
    
}

li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-size: 40px;
      

}

/* Header */

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bb0000 3px solid;
    text-align: center;
}
/* main */

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}
/* section */
section {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}


.changelly {
    max-width: 1200px;
    margin: auto;
    padding: 0 0 30px 0;
 /*   background: #fff;*/
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    height: 100%;
    

}

/* footer */

footer {
    padding: 6px;
    background: #333;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    border-top: #bb0000 3px solid;
    bottom: 0;
    width: 100%;
    position: fixed;

}

.red {
    color: #bb0000;
}

.green {
    color: #00bb00;
}
.yellow {
    color: #ffbb00;
}

/* LINKS! */
a {
    color: #bb0000;
    text-decoration: none;
}

.link a img {
    display: block;
    margin: auto;
    grid-gap: 0px;
    text-align: center;
    padding: 0%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: relative;

}

.link a img:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}


.uphold {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;

}


.uphold:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;

    
}

/* COINBASE */
.coinbase {
    max-width: 1200px;
    margin: auto auto 60% auto;
    padding: 0 0 0 0;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    text-align: center;
    background-image: url(/img/coinbase.png);
    
}
/* END-OF-COINBASE */

/* TOOLTIP STARTING */
.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    height: auto;
    background-color: #49CC68;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 50px 2em;

    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 60%;

  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    border: #fff 1px solid;
    border-radius: 6px;
}


/* media queries */
@media only screen and (max-width: 600px) and (min-width: 300px) {
    .port, .uphold, .changelly, .coinbase, {
        grid-template-columns: repeat(3, 3fr);
        grid-gap: 20px;
    }
}



/* PORT-(FOR_PORTFOLIO) */
#port {
    display: row;
    grid-row-start: auto;
    grid-row-end: auto;
    text-align: center;
    padding: 0;
    margin: 20px;
    height: 799px;
    
}
iframe {
    height: 550px;
    width: 100%;
}


.changelly {
    background-image: url("https:source.unsplash.com/random/?Cryptocurrency/25x25");
    
}   