* {
    box-sizing: border-box;

}
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6em;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: url(/img/bg.png); 
    background-size: cover;
    
}

h1 {
    font-size: 50px;
    margin-bottom: 10px; 
    
}



a:hover {
    text-decoration: underline;
    color: #bb0000;

}

/*navbar*/
nav {
    background: #333;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #bb0000 3px solid;
    font-weight: bold;


}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-left: 20px;
    
}

li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    font-size: 40px;
      

}

/* Header */

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bb0000 3px solid;
    text-align: center;
}
/* main */

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}
/* section */
section {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}


.changelly {
    max-width: 1200px;
    margin: auto;
    padding: 0 0 30px 0;
    background: #fff;
    border-radius: 10px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    height: 600px;
    

}

/* footer */

footer {
    padding: 6px;
    background: #333;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    border-top: #bb0000 3px solid;
    bottom: 0;
    width: 100%;
    position: fixed;

}

span {
    color: #bb0000;
}

/* LINKS! */
a {
    color: #bb0000;
    text-decoration: none;
}

main a img {
    display: block;
    margin: auto;
    grid-gap: 0px;
    text-align: center;
    padding: 0%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: relative;

}

.link a img:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.green {
    color: #00bb00;
}


/* media queries */
